.articles{
  padding: 25px 0;
  &__container{
    @include respond-above(xs){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__list{
    @include no-list-style();
  }
}

.articles-list{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  @include respond-above(xs){
    flex-direction: row;
  }
  @include respond-above(xlg){
    justify-content: space-between;
  }
  &__item{
    &:not(:last-child){
      margin-bottom: 17px;
    }
    &:focus{
      outline: none;
    }
    @include respond-above(xs){
      width: 424px;
      margin: 0 15px;
    }
    @include respond-above(sm){
      width: 454px;
    }
    @include respond-between(sm, xlg){
      margin: 0 20px;
    }
    @include respond-above(xlg){
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.article{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  @include respond-above(xs){
    flex-direction: row;
    width: 424px;
  }
  @include respond-above(sm){
    width: 454px;
  }
  &__image-wrapper{
    @include bottom-border();
    @include image-hover();
    margin-left: -$padding;
    margin-right: -$padding;
    @include respond-above(xs){
      flex: 0 0 200px;
      flex-direction: row;
      margin-left: 0;
      margin-right: 0;
      width: 200px;
      height: 200px;
    }
  }
  &__image{
    display: block;
  }
  &__info{
    padding: 20px 0;
    position: relative;
    @include respond-above(xs){
      width: 284px;
      background-color: $color-white;
      padding: 20px;
      margin: 20px 0 20px -50px;
    }
    @include respond-above(sm){
      margin-left: -30px;
      padding: 30px;
    }
  }
  &__category-title{
    margin: 0;
    font-family: $font-primary;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-primary;
    &:hover, &:active, &:focus{
      color: $color-primary-hover;
    }
  }
  &__link{
    @include link($link-color: inherit, $link-hover-color: inherit);
  }
  &__title{
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: $color-black;
    &:hover, &:active, &:focus{
      color: $color-primary-hover;
    }
  }
}
