.heading{
  padding-bottom: 25px;
  &__image-wrapper{
    @include bottom-border();
    display: block;
    &:hover .heading__image {
      filter: grayscale(100%) blur(2px);
    }
  }
  &__image{
    @include transition;
    display: block;
    filter: grayscale(0) blur(0);
  }
  &__container{
    margin-top: -117px;
    position: relative;
    max-width: 1140px;
    @include respond-above(lg){
      padding: 0;
    }
  }
  &__content-wrapper{
    background-color: $color-white;
    padding: $padding;
    max-width: 1140px;
    margin: 0 auto;
    @include respond-above(sm){
      padding: 40px;
    }
  }
  &__category-title{
    margin: 0;
    font-family: $font-primary;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-primary;
    &:hover, &:active, &:focus{
      color: $color-primary-hover;
    }
  }
  &__link{
    @include link($link-color: inherit, $link-hover-color: inherit);
    &--read-more{
      color: #3e3e3e;
      font-weight: 600;
      &:hover, &:active, &:focus{
        color: $color-primary-hover;
      }
    }
  }
  &__page-title{
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
  }
  &__description{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
  }
}
