.page{
  background-color: $body-bg;
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.container{
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 $padding;
  @include respond-above(sm){
    padding: 0 $padding*2;
  }
}
