@font-face {
  font-family: "Open Sans";

  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";

  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";

  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";

  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src:
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}
