@mixin no-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin pseudo-element($content: "", $pos: absolute, $display: block) {
  content: $content;
  position: $pos;
  display: $display;
}

@mixin text-limiter() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin link($link-color: $color-link, $link-hover-color: $color-link-hover) {
  @include transition;
  cursor: pointer;
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid transparent;
  &:hover, &:active, &:focus{
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin transition($prop: all, $duration: $animation-duration, $timing-function: $animation-timing-function, $delay: 0s) {
  transition-property: $prop;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}

@mixin common-element($br: $border-radius, $size: $es-default, $lh-size: $es-default, $square: false){
  border-radius: $br;
  height: $size;
  line-height: $size;
  @if $square == true{
    width: $size;
    text-align: center;
  }
}

@mixin hover-to-top(){
  &:hover, &:focus{
    transform: translateY(-2px);
    &:active{
      transform: translateY(0);
    }
  }
  &[disabled]{
    &:hover{
      transform: none;
    }
  }
}

@mixin bottom-border(){
  position: relative;
  &::after{
    @include transition;
    @include absolute(auto, 0, 0, 0);
    content: "";
    display: block;
    height: 13px;
    background-color: $color-primary;
  }
  &:hover::after{
    background-color: $color-primary-hover;
  }
}

@mixin image-hover(){
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
  }
  &:hover::before {
    animation: shine .75s;
  }
}

@mixin visually-hidden(){
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
  xs:  576px,
  sm:  768px,
  md:  992px,
  lg:  1200px,
  xlg: 1440px
);


//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}
