// Colors
$body-bg:                         #f7f7f7;
$color-link:                      #2a5885;
$color-link-hover:                #2a5885;
$color-white:                     #ffffff;
$color-black:                     #000000;
$color-primary:                   #ffba24;
$color-primary-hover:             darken($color-primary,20%);

// Fonts
$font-primary:                    "Open Sans", "Arial", sans-serif;


// Breakpoints
$screen-xs:                       320px;
$screen-sm:                       480px;
$screen-md:                       768px;
$screen-lg:                       1024px;
$screen-xl:                       1200px;
$screen-xxl:                      1600px;


// Pixel dencity
$retina-dpi:                      144dpi;
$retina-dppx:                     1.5dppx;


// --- Elements size (es-)
$es-large:                        80px;
$es-default:                      50px;
$es-medium:                       40px;
$es-small:                        30px;
$es-xsmall:                       20px;

$padding:                         20px;

$animation-duration:              0.3s;
$animation-timing-function:       ease-in-out;
